<br />

<div class="col-xs-10 col-xs-offset-1">
  <h1 class="title-border">Join Us</h1>
  <br class="clr" / >
  <br class="clr" / >
  <br/>
  <br/>
  <p> We love working here, you will too! </p>
 
  <p>We are always looking to add more awesomeness to the team. 
  Drop us a email at  <b>flixter@theflixterproject.com</b>. 
  <br />
  We're excited to discover what  you can bring to Flixter.
  </p>
</div>