<br />

<div class="col-xs-10 col-xs-offset-1">
  <h1 class="title-border">Team</h1>
  <br class="clr" / >
  <br class="clr" / >
  <br />
  <br />
  <p>
    This site was created by <a href="https://github.com/mbrown78">Melissa Brown</a>
  </p>
</div>