<br />
<div class= "col-xs-10 col-xs-offset-1">
    <h1 class= "title-border"> Learn Something today</h1>
    <% @courses.each do |course| %>
        <hr/>
        <div class="col-sm-3 col-xs-12">
         <%= image_tag course.image, class: 'img-responsive' %>
         </div>
        <div class="col-sm-5 col-xs-12">
        <h2><%= link_to course.title, course_path(course)%></h2>    
        <%= course.description %>
        </div>
        <div class="col-sm-4 col-xs-12 text-center">
          <%= link_to 'More Details', course_path(course), class: 'btn btn-primary btn-large' %>
        </div>
        <br class="clr" />
    <% end %>
</div>

