/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a {
    color: black ;
    text-decoration: none;
}

body {
  font-family: 'Libre Baskerville', serif;
}

a:hover {
    color: #F23827;
    text-decoration: none;
}

h1 {
    font-family: 'Raleway', sans-serif;
    
}

h2 {
    padding: 0;
    margin-top: -5px;
}


.title-border {
    position:relative;
    display:inline-block;
}

.title-border:before{
    position: absolute;
    width: 40px;
    height: 3px;
    content: " ";
    left: 0;
    bottom: -18px;
    background: #F23827;
}

.title-border:after {
    position: absolute;
    width: 3px;
    height: 3px;
    content: " ";
    left: 43px;
    bottom: -18px;
    background: #F23827;
}

h2 {
 font-family: 'Raleway', sans-serif;
}

.btn-success, .btn-primary, .btn-danger {
  border-radius:0;
  background-color: #DA3323;
  border-color: #DA3323;
  font-family: 'Raleway', sans-serif;
} 

.btn-success:active,.btn-success.active .btn-success:hover,  .btn-success:focus, 
.btn-primary:active, .btn-primary.active,.btn-primary:hover,  .btn-primary:focus,
.btn-danger:active, .btn-danger.active, .btn-danger:hover,  .btn-danger:focus,
{
  background-color: #F23827; 
  border-color: #F23827;
}



.navbar.navbar-inverse {
  
  border-radius:0;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('noisy_net.png');
}

.navbar-inverse .navbar-nav > li > a {
   content: '"\"';
   font-family: 'Roboto Slab', serif;
}


a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:#fff;
}


/*-----------img ------------*/
.img-responsive{
  height: 200px;
  width: 200px;
}